<%= error_messages_for (@message)  %>
<table cellspacing="0" cellpadding="0">
	<tr>
		<td class="mainFormSection" width="100%">
			<section id="message">
				<div class="pad">			
				<% if @message.id %>
					<%= link_to "View Message", {:action => "show", :id => @message.id, :series_id => @message.series_id }, :class => 'preview' %>
				 <% end %>
			    <div class="formHeadField">
					<%= f.text_field :title, :placeholder => "Message Title", :class => "name" %>
				</div>
			    <div class="formHeadField">
					<%= f.label :scripture %> |<%= f.text_field :scripture, :placeholder => "Book 1:1-5", :class => "inlineInput" %>
				</div>
				<div class="textAreaDesc">
					<%= f.label :description %>
				</div>
				<%= f.text_area :description, :placeholder => "Message description", :class => "description", :rows => '10' %>
				</div>
			</section>
			
			<section id="messageMedia">
				<div class="pad<%= " edit" if @message %>">
					<div class="formHeadField">
					<%= f.label :mp3, "MP3" %>|
					<%= f.text_field :mp3, :placeholder => '20120409.mp3', :class => "inlineInput" %>
					</div>
					
					<div class="formHeadField">
					<%= f.label :vimeo %>|
					<%= f.text_field :vimeo, :placeholder => '2277334', :class => "inlineInput" %>
					</div>

					<div class="formHeadField">
					<%= f.label :hd_video, "HD Video" %>|
					<%= f.text_field :hd_video, :placeholder => '20120409.mp3', :class => "inlineInput" %>
					</div>

					<div class="formHeadField">
					<%= f.label :vodcast %>|
					<%= f.text_field :vodcast, :placeholder => '20120409.mp4', :class => "inlineInput" %>
					</div>
					
					<div class="formHeadField">
					<%= f.label :duration %>|
					<%= f.text_field :duration, :placeholder => '64m', :class => "inlineInput" %>
					</div>
				</div>
			</section>
			
			<% if @message.message_thumb? || @message.message_display? %>
			<section id="postImages">
				<div class="pad">
				<% if @message.message_thumb? %>
					<div class="imageBlock">
						<%= image_tag @message.message_thumb.url(:small), :title => "Thumbnail", :class => "Thumbnail" %>	
						<h2>Thumbnail</h2>
						<%= f.check_box :remove_thumb, :label => 'Delete Image' %> Remove
					</div>
				<% end %>
				<% if @message.message_display? %>
					<div class="imageBlock">
						<%= image_tag @message.message_display.url(:small), :title => "Display Image", :class => "Display" %>	
						<h2>Display</h2>
						<%= f.check_box :remove_display, :label => 'Delete Image' %> Remove
					</div>
				<% end %>
				</div>
			</section>
			<% end %>
			
			<%= link_to('Cancel', {:action => 'index'}, :confirm => 'Are you sure you want to leave this message. Any progress you made may be lost.') %>
		</td>
		
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		
		
		<td class="formSidebarControls">
			<aside class="side form right">
				<ul>
					<li><h2>Publish</h2>
						<ul>
							<li>
								<%= f.label :status %>: <%= @message.status %><br/>
								<% if user_level >= 2 %>
									<%= f.select :status, ['Draft', 'Published', 'Pending'] %> 
								<% else %>
									<%= f.select :status, ['Draft', 'Pending'] %>
								<% end %> 
							</li>
							<li><%= f.label :speaker %> | <%= f.select :speaker_id, @speaker_list %></li>
							<li><%= f.label :air_date, 'Spoken' %> on: <%= @message.air_date %>		
							<% if params[:id].blank? %>
								<%= f.text_field :air_date, :value => Date.today.strftime('%Y-%m-%d'), :class => "date" %>
							<% else %>
								<%= f.text_field :air_date, :value => @message.air_date.try(:strftime,'%Y-%m-%d'), :class => "date text" %>
							<% end %>
							</li>
							<li>
								<%= link_to( "delete", ([@series, @message]), :confirm => 'Are you sure you want to permanently delete this message?', :method => :delete, :class => "delete") if @message.id unless user_level < 2 %>
								<%= submit_tag(params[:id].blank? ? "Publish" : "Update", :class => "update") %>
							</li>
						</ul>
					</li>
					<li><h2><%= f.label :featured_message%></h2>
						<ul>
							<li><%= f.check_box :featured_message %>Check if this is a featured Message</li>
						</ul>
					</li>
					<li><h2>Tags</h2>
						<ul>
							<li><%= f.text_field :tag_list, :class => "text" %></li>					
							<% @message.tag_list.each do |tag| -%>
							<li><%= tag %><%= link_to "X", :action => "remove_tag", :controller => "messages", :id => @message.id, :series_id => @series.id, :tag => tag %></li>
							<% end %>

						</ul>
					</li>
					<li><h2>Message Images</h2>
						<ul>
							<li><%= f.label :message_thumb, "Thumbnail" %><%= f.file_field :message_thumb %></li>						
							<li><%= f.label :message_display, "Display Image" %><%= f.file_field :message_display %>
						</ul>
					</li>
				</ul>
			</aside>
		</td>
	</tr>
</table>
<script>
	$("input").change(function() {
		$(this).addClass("changed");
	});
</script>


<% if @message %>
<% @twitterTitle = truncate(@message.title, :length => 20) %>
<% @twitterSeriesTitle = truncate(@series.title, :length => 20) %>
<!--use bitly-->
<% @twitterLink = "http://www.shorebreakchurch.com/posts/permalink" %>
<% @twitterUpdate = "Check out " + " from the series " + @twitterSeriesTitle + "." + @twitterLink %>
<% end %>





