<%= error_messages_for (@user)  %>
<table cellspacing="0" cellpadding="0">
	<tr>
		<td class="mainFormSection" width="100%">
			<section id="users">
				<div class="pad<%= " edit" if @user %>">
				    <div class="formHeadField">
						<%= f.label :first_name, "Name" %> |<%= f.text_field :first_name, :placeholder => "First Name", :class => "inlineInput smallInput" %><%= f.text_field :last_name, :placeholder => "Last Name", :class => "inlineInput smallInput" %>
					</div>
				    <div class="formHeadField">
						<%= f.label :username %> |<%= f.text_field :username, :class => "inlineInput" %>
					</div>
					<div class="formHeadField">
						<%= f.label :email %> |<%= f.text_field :email, :class => "inlineInput" %>
					</div>
					<div class="formHeadField">
						<%= f.label :password %> | 
					    <%= f.password_field :password,:class => "inlineInput", :autocomplete => "off" %>
					</div>
					  <div class="formHeadField">
						<%= f.label :password_confirmation %> | 
					  	<%= f.password_field :password_confirmation, :class => "inlineInput" %>
					</div>
					<div class="formHeadField">
						<%= f.label :title %> |<%= f.text_field :title, :class => "inlineInput" %>
					</div>
					<div class="formHeadField">
						<%= f.label :twitter %> |<%= f.text_field :twitter, :class => "inlineInput" %>
					</div>
					<div class="textAreaDesc">
						<%= f.label :bio %>
					</div>
					<%= f.text_area :bio, :placeholder => "User Bio", :class => "description", :rows => '10' %>
				</div>
			</section>
		</td>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->		
		
		<td class="formSidebarControls">
			<aside class="side form right">
				<ul>
					<li>
						<ul>
							<% if @user.id %>
								<% if @user.avatar.present? %>
								<li><%= image_tag @user.avatar.url(:medium) %></li>
								<% else %>
								<li><%= image_tag avatar_url(@user) %></li>
								<% end %>
							<% end %>
							<li><%= f.label :avatar, "Profile Image" %> | <%= f.file_field :avatar  %></li>
							<li>
							<% if user_level == 3 %>
								<%= f.label :access_level %> | <%= f.select(:access_level, (1..3).to_a.reverse, :class => "inlineInput") %>
							<% end %>
							</li>
							<li>
							<%= button_to( "delete", @user,:confirm => 'Are you sure you want to permanently delete this user?', :method => :delete, :class => "delete") if @user.id %>
							<%= submit_tag(params[:id].blank? ? "Publish" : "Update", :class => "update") %></li>
						</ul>
					</li>
				</ul>
								
			</aside>
		</td>
	</tr>
</table>
<script>
	$("div.edit input").change(function() {
		$(this).addClass("changed");
	});
</script>
