<% @users.each do |user| %>
	<div class="userProf<%=cycle('', '', ' noMarg')%>">
		<div class="userLinkTo">
			<% if user.access_level == 3 %>
				<% @userTitle = 'Admin'  %>
			<% elsif user.access_level == 2 %>
				<% @userTitle = 'Editor'  %>
			<% elsif user.access_level == 1 %>
				<% @userTitle = 'Contributor'  %>
			<% end %>
			<% if user.avatar.present? %>
				<%= link_to (image_tag user.avatar.url(:medium) , :class => 'left'), edit_user_path(user) %>
			<% else %>
				<%= link_to (image_tag avatar_url(user), :class => 'left'), edit_user_path(user) %>
			<% end %>
			 <br />
			<%= link_to user.name + " | " + @userTitle, edit_user_path(user), :class => "text" %>
		</div>
		<div class="userQuickInfo">
			<%= mail_to user.email, "Email" %>
			<%= link_to "Twitter", "http://twitter.com/" + user.twitter, :target => :blank %>
			
		</div>
	</div>
<% end %>

