<% @page_title = params[:parent_id].blank? ? 'Pages' : 'Page' %>
<div id="pageTitle" class="noctrlnav">
	<h1><%= params[:parent_id]? @page_title + " | " + @parent.name : @page_title %></h1>
</div>

<!--start form-->

<table class="list" cellspacing="0" cellpadding="0">
  <tr class="head">
    <th>Name</th>
    <th>Permalink</th>
    <th>Position</th>
	<th>Template</th>
	<th>Updated At</th>
	<th>Children</th>
  </tr>

<% @pages.each do |page| %>
  <tr id="page.id" class="<%= cycle('odd', 'even') %>">
	<td width="20%"><%= link_to page.name, edit_page_path(page) %><br/>
		<div class="actions">
			<%= link_to '+', {:action => 'new', :parent_id => page } %> |
			<% if page.leaf? == false %>
				<%= link_to 'View Pages', {:action => 'index', :parent_id => page } %> | 
			<% end %>
			<%= link_to 'Edit', edit_page_path(page) %> | 
			<%= button_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</td>
	<td width="4%"><%= page.permalink %></td>
	<td width="3%"><%= page.position %></td>
	<td width="3%" class="centerText"><%= page.template %></td>
	<td width="8%"><%= page.updated_at.strftime("%m/%d/%y") %><br/>
		<%= page.status %>
	</td>
	<td width="6%"><%= page.children.size %></td>
	</tr>
	<% page.children.each do |sub| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td width="20%"><%= link_to sub.name, :action => 'edit', :id => sub %><br/>
				<div class="actions">
					<%= link_to 'Edit', :action => 'edit', :id => sub %> | 
					<%= link_to 'Delete', page_path(sub), :confirm => 'Are you sure?', :method => :delete %>
				</div>
			</td>
			<td width="4%"><%= sub.permalink %></td>
			<td width="3%">- <%= sub.subposition %></td>
			<td width="3%" class="centerText"><%= sub.template %></td>
			<td width="8%"><%= sub.updated_at.strftime("%m/%d/%y") %><br/><%= sub.status %></td>
			<td width="6%"><%= sub.children.size %></td>
		</tr>
	<% end %>
<% end %>



<tr class="head">
  	<th>Name</th>
    <th>Permalink</th>
    <th>Position</th>
	<th>Template</th>
	<th>Updated At</th>
	<th>Children</th>
</tr>
</table>
<div class="controller_navigation">
	<%= link_to "Back To Pages", {:action => 'index'}, :class => 'back' if params[:parent_id] %>
</div>
<%= will_paginate @pages %>