<% @page_title = 'New Page' %>
<% @page_class = 'form page' %>
	
<div id="pageTitle">
	<div class="controller_navigation">
		<%= link_to "Back to Pages", {:action => 'index'}, :class => 'back'%>
		<%= link_to "Back to " + @page.parent.name, {:action => 'index', :parent_id => @page.parent.id}, :class => 'back' if @page.child?%>
	</div>
	<h1><%= "Update : " + @page.name %></h1>
</div>
<!--start create new form-->
	<% @page_title = "Update Page" %>
	<%= nested_form_for @page, :html => {:multipart => true} do |f| %>
    	<%= render :partial => "form", :locals => {:f => f} %>
	<% end %>
	
