<%= error_messages_for (@media)  %>
<table cellspacing="0" cellpadding="0">
	<tr>
		<td class="mainFormSection" width="100%">
			<section id="media">
				<div class="pad">			
				<% if @media.id %>
						<%= link_to( "View Page", {:action => "show", :id => @media.id }, :class => "preview") %>
				 <% end %>
			    <div class="formHeadField<%= " edit" if @media %>">
					<%= f.text_field :title, :placeholder => "Media Title", :class => "name" %>
				</div>
				<div class="formHeadField<%= " edit" if @media %>">
					<%= f.label :subtitle %> |<%= f.text_field :subtitle, :placeholder => "Media Subtitle", :class => "inlineInput" %>
				</div>
			    <div class="formHeadField<%= " edit" if @media %>">
					<%= f.label :permalink %> |<%= f.text_field :permalink, :placeholder => "Media Permalink", :class => "inlineInput" %>
				</div>
				<div class="formHeadField<%= " edit" if @media %>">
					<%= f.label :description %> |<%= f.text_field :description, :placeholder => "Media Description", :class => "inlineInput" %>
				</div>
				<div class="formHeadField<%= " edit" if @media %>">
					<%= f.label :link1, "Link" %> |<%= f.text_field :link1, :placeholder => "External Link", :class => "inlineInput" %>
				</div>						
				<div class="textAreaDesc">
					<%= f.label :content %>
				</div>
					<%= f.text_area :content, :placeholder => "Media content", :class => "description", :rows => '10'  %>				
				</div>
			</section>
			
			<% if @media.media_thumb? || @media.media_display? %>
			<section id="postImages">
				<div class="pad">
				<% if @media.media_thumb? %>
					<div class="imageBlock">
						<%= image_tag @media.media_thumb.url(:small), :title => "Thumbnail", :class => "Thumbnail" %>	
						<h2>Thumbnail</h2>
						<%= f.check_box :remove_thumb, :label => 'Delete Image' %> Remove
					</div>
				<% end %>
				<% if @media.media_display? %>
					<div class="imageBlock">
						<%= image_tag @media.media_display.url(:small), :title => "Display Image", :class => "Display" %>	
						<h2>Display</h2>
						<%= f.check_box :remove_display, :label => 'Delete Image' %> Remove
					</div>
				<% end %>
				</div>
			</section>
			<% end %>
			
			<%= link_to('Cancel', { :action => 'index'}, :confirm => 'Are you sure you want to leave this Media Post. Any progress you made may be lost.') %>
		</td>
		
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		
		<td class="formSidebarControls">
			<aside class="side form right">
				<ul>
					<li><h2>Publish</h2>
						<ul>
							<li>
								<%= f.label :status %>: <%= @media.status %><br/>
								<%= f.select :status, ['Draft', 'Published', 'Pending'] %> 
							</li>
							<li>
								<%= f.label :media_type %>: <%= @media.media_type %><br/>
								<%= f.select :media_type, ['Video', 'Audio', 'Image'] %> 
							</li>
							<li>
								<%= f.label :user_id, "Author" %><br/>
								<%= select(:media, :user_id, @user_list) %></li>
							<li>
								<%= f.label :published_at, "Published" %> on: <%= @media.published_at %><br/>
								<%= f.text_field :published_at, :value => Date.today.strftime('%m/%d/%y'), :class => "date text" %>
							</li>
							<li><%= button_to( "delete", @media,:confirm => 'Are you sure you want to permanently delete this media?', :method => :delete, :class => "delete") if @media.id %><%= submit_tag(params[:id].blank? ? "Publish" : "Update", :class => "update") %></li>
						</ul>
					</li>
					<li><h2><%= f.label :featured_media %></h2>
						<ul>
							<li><%= f.check_box :featured_media %> Check if this media is featured.</li>
						</ul>
					</li>
					<li><h2>Tags</h2>
						<ul>
							<li><%= f.text_field :tag_list, :class => "text" %></li>					
							<% @media.tag_list.each do |tag| -%>
							<li><%= tag %><%= link_to "X", {:action => "remove_tag", :id => @media.id, :tag => tag, :controller => "medias"}, :class => "text" %></li>
							<% end %>
						</ul>
					</li>
					<li><h2>Media Images</h2>
						<ul>
							<li><%= f.label :media_thumb, "Thumbnail" %><%= f.file_field :media_thumb %></li>						
							<li><%= f.label :media_display, "Display Image" %><%= f.file_field :media_display %>
						</ul>
					</li>
				</ul>
			</aside>
		</td>
	</tr>
</table>
<script>
	$("input").change(function() {
		$(this).addClass("changed");
	});
	
	//var editor = new wysihtml5.Editor("media_content", { // id of textarea element
	  //toolbar:      "toolbar", // id of toolbar element
	  //parserRules:  wysihtml5ParserRules // defined in parser rules set 
	//});
</script>


<% @twitterTitle = truncate(@media.title, :length => 20) %>
<% @twitterExcerpt = truncate(@media.content, :length => 60) %>
<!--bitly integration-->
<% @twitterLink = "http://www.shorebreakchurch.com/medias/permalink" %>
<% @twitterUpdate = "New Blog Post #{@twitterTitle} :  " %>





