<% @page_title = 'Media' %>

<div id="pageTitle" class="noctrlnav">
	<h1><%= @page_title %></h1>
</div>

<!--start form-->
<table class="list" cellspacing="0" cellpadding="0">
  <tr class="head">
    <th>Title</th>
    <th>Author</th>
    <th>Media Type</th>
	<th>Tags</th>
	<th>Featured</th>
	<th>Date</th>
  </tr>

<% @medias.each do |media| %>
  <tr class="<%= cycle('odd', 'even') %>">
	<td><%= link_to media.title, edit_media_path(media) %><br/>
		<div class="actions">
			<%= link_to 'Preview', media_path(media), :target => '_blank' %> | 
			<%= link_to 'Edit', edit_media_path(media) %> | 
			<%= button_to 'Delete', media, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</td>
	<td width="12%"><%= media.author.username if media.author %></td>
	<td width="12%"><%= media.media_type %></td>
	<td width="12%"><%= media.tags.collect {|tag| tag.name }.join(", ") %></td>
	<td width="12%"><%= media.featured_media %></td>
	<td width="10%"><%= media.created_at.strftime("%m/%d/%y") %><br/>
		<%= media.status %>
	</td>
  </tr>
<% end %>

<tr class="head">
  	<th>Title</th>
  	<th>Author</th>
  	<th>Media Type</th>
	<th>Tags</th>
	<th>Featured</th>
	<th>Date</th>
</tr>
</table>
