<% @page_title = 'Posts' %>
<% @page_class = 'list post'%>

<div id="pageTitle" class="noctrlnav">
	<h1><%= @page_title %></h1>
</div>

<!--start form-->
<table class="list" cellspacing="0" cellpadding="0">
  <tr class="head">
    <th>Title</th>
    <th>Author</th>
    <th>Categories</th>
	<th>Tags</th>
	<th>Comments</th>
	<th>Featured</th>
	<th>Date</th>
  </tr>

<% @posts.each do |post| %>
  <tr class="<%= cycle('odd', 'even') %>">
	<td><%= link_to post.title, edit_post_path(post) %><br/>
		<div class="actions">
			<%= link_to 'Preview', post_path(post), :target => '_blank' %> | 
			<%= link_to 'Edit', edit_post_path(post) %> | 
			<%= button_to 'Delete', post,:method => :delete, :confirm => 'Are you sure?' %>
		</div>
	</td>
	<td width="12%"><%= post.author.username if post.author %></td>
	<td width="12%"><%= post.categories.collect {|cat| cat.name }.join(", ") %></td>
	<td width="12%"><%= post.tags.collect {|tag| tag.name }.join(", ") %></td>
	<td width="8%" class="centerText"><%= post.comments_count %></td>
	<td width="12%"><%= post.featured_post %></td>
	<td width="10%"><%= post.published_at.strftime("%m/%d/%y") %><br/>
		<%= post.status %>
	</td>
  </tr>
<% end %>

<tr class="head">
  	<th>Title</th>
  	<th>Author</th>
  	<th>Categories</th>
	<th>Tags</th>
	<th>Comments</th>
	<th>Featured</th>
	<th>Date</th>
</tr>
</table>
