<% @page_title = 'Preview Post : ' + @post.title %>
<% @page_class = 'preview post'%>
<% @controller = 'posts' %>

<div id="pageTitle">
	<h1><%= @page_title %></h1>
	<div class="controller_navigation">
		<%= link_to "Back", {:action => 'edit', :id => @post}, :class => 'back'%>
	</div>
</div>
<div class="breaker">&nbsp;</div>

<!--start show-->
<% @post_body = raw simple_format(truncate(@post.content, :separator => '[---MORE---]', :omission => link_to( "Read More", {:action => 'show', :id => @post}, :class => 'read_more'))) %>
<%= auto_link(@post_body, :html => { :target => '_blank' })%>
<span>@<%= @post.author.twitter  %> : 
<%= Twitter.user_timeline(@post.author.twitter).first.text %></span>




