<section>	
	<div class="row">	
		<div class="span8 posts">
			<% @posts.each do |post| %>
			<article class="post">
				<h2><%= post.title %></h2>
				<div class="byline">
					<span class="author">Author : <%= post.author.name %></span>
					<span class="published">On : <%= post.published_at.try(:strftime, "%B %d, %Y") %></span>
				</div>
				<div class="body">
					<% @post_body = raw simple_format(truncate(post.content, :separator => '[---MORE---]', :omission => link_to( "Read More", {:action => 'show', :id => post}, :class => 'read_more'))) %>
					<%= auto_link(@post_body, :html => { :target => '_blank' })%>
				</div>
				<div class="tagsandcats">
					<span class="categories">Posted in <% post.categories.each do |cat| %><%= cat.name %>, <% end %></span>
					<span class="tags">Tagged as <% post.tag_list.each do |tag| %><%= tag %>, <% end %></span>
				</div>
			</article>
			<% end %>
		</div>
		
		<div class="span4">
			
		</div>
		
	</div class="row">
</section>