<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Devan Flaherty, Devan Made, since 1989" />
		<meta name="copyright" content="Copyright 2012, The Anthem Church" />
		<meta name="version" content="1.0" />
		<title><%= 'The Anthem Admin | ' + @page_title ||= 'The Anthem Admin' %></title>

        <%= stylesheet_link_tag "application", "/assets/fonts/gotham/stylesheet.css","/assets/fonts/typograph/stylesheet.css", "/assets/fonts/journal/stylesheet.css" %>
		<link rel="apple-touch-icon" href="" />
		<link rel="icon" type="image/png" href="" />
		
		<%= javascript_include_tag "application" %>

		<!--[if IE]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>
	<body class="admin <%= @page_class %>">
		<div class="wrapper">
			<header>
				<div id="user_info">
					<span class="headerChurch"><%= link_to "THE ANTHEM CHURCH", "/" %> </span>
				<% if session[:user_id] %>
					<%= link_to session[:username], :controller => 'users', :action => 'edit', :id => session[:user_id] %> | <%= link_to "Logout", :controller => 'access', :action => "logout" %>
				<% end %>	
				</div>
			</header>
			<div class="login">
				<div>
				<%= yield %>
				</div>
			</div>
			<%=raw "<div class=\"notice\">#{flash[:notice]}</div>" if flash[:notice] %>
			<div class="push">&nbsp;</div>
		</div>
		<div class="footer" id="wood" class="footer">
			&nbsp;
		</div>
	</body>
</html>